
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>تایید حساب کاربری</h1>
<h4>کاربر گرامی لطفا برای تایید حساب کاربری خود بر روی لینکی که برای شما از طریق ایمیل ارسال شده کلیک نماید</h4>

