@model Identity.Models.Dto.Account.VerifyPhoneNumberDto

@{
    ViewData["Title"] = "VerifyPhoneNumber";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>وارد کردن کد</h1>

<h4>VerifyPhoneNumberDto</h4>
<br />
<h3>کد دریافت شده را وارد کنید</h3>
<h3>@Model.PhoneNumber</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyPhoneNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

